---
import { BASE_TITLE } from "astro:env/server";
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
const posts = await getCollection('posts')
---

<Layout>
	<h1>{BASE_TITLE}</h1>
	<ul>
		{posts.map(({data}) => <li>{data.title}</li>)}
	</ul>
</Layout>
