---
const posts = await getCollection('posts')
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

console.log(posts)
---

<Layout>
	<ul>
		{posts.map(({data}) => <li>{data.title}</li>)}
	</ul>
</Layout>
